<style>
    #map {
        height: 500px;
    }
</style>
<button id="changeCenter" type="button" ng-click="changeAttribute('map1', 'center', newCenter)">Change Map Center</button>
<button id="changeZoom" type="button" ng-click="changeAttribute('map1', 'zoom', newZoom)">Change Map Zoom</button>
<button id="changeOptions" type="button" ng-click="changeAttribute('map1', 'options', newOpt)">Change Map Options</button>
<br>
<button id="changeMarkerPos" type="button" ng-click="changeAttribute('marker1', 'position', newMarkerPos)">Change Marker Position</button>
<button id="changeMarkerDrag" type="button" ng-click="changeAttribute('marker1', 'draggable', false)">Toggle Marker Draggable</button>
<button id="changeMarkerIcon" type="button" ng-click="changeAttribute('marker1', 'icon', newMarkerIcon)">Change Marker Icon</button>
<button id="changeMarkerInfo" type="button" ng-click="changeAttribute('marker1', 'info', 'New Marker Info')">Change Marker Info</button>
<button id="changeMarkerOptions" type="button" ng-click="changeAttribute('marker1', 'options',newMarkerOpt)">Change Marker Options</button>
<button id="deleteMarker" type="button" ng-click="deleteRender('marker1')">Delete Marker</button>
<br>
<button id="changeLinePath" type="button" ng-click="changeAttribute('polyline1', 'path', newLine)">Change PolyLine Path</button>
<button id="changeLineOptions" type="button" ng-click="changeAttribute('polyline1', 'options', newShapeOpt)">Change PolyLine Options</button>
<button id="deleteLine" type="button" ng-click="deleteRender('polyline1')">Delete Line</button>
<br>
<button id="changePolygonPath" type="button" ng-click="changeAttribute('polygon1', 'paths', newTriangle)">Change Polygon Path</button>
<button id="changePolygonOptions" type="button" ng-click="changeAttribute('polygon1', 'options', newShapeOpt)">Change Polygon Options</button>
<button id="deletePolygon" type="button" ng-click="deleteRender('polygon1')">Delete Polygon</button>
<br>
<button id="changeRectBounds" type="button" ng-click="changeAttribute('rectangle1', 'bounds', newRectangle)">Change Rectangle Bounds</button>
<button id="changeRectOptions" type="button" ng-click="changeAttribute('rectangle1', 'options', newShapeOpt)">Change Rectangle Options</button>
<button id="deleteRect" type="button" ng-click="deleteRender('rectangle1')">Delete Rectangle</button>
<br>
<button id="changeCircleCenter" type="button" ng-click="changeAttribute('circle1', 'center', newCenter )">Change Circle Center</button>
<button id="changeCircleRadius" type="button" ng-click="changeAttribute('circle1', 'radius', 2000)">Change Circle Radius</button>
<button id="changeCircleOptions" type="button" ng-click="changeAttribute('circle1', 'options', newShapeOpt)">Change Circle Options</button>
<button id="deleteCircle" type="button" ng-click="deleteRender('circle1')">Delete Circle</button>

<my-map id="map1" center="center" zoom="zoom" options="mapOpt">
    <my-marker id="marker1" position="markerPos" draggable="draggable" info="'This is a marker'"></my-marker>
    <my-polyline id="polyline1" path="line"></my-polyline>
    <my-polygon id="polygon1" paths="triangle"></my-polygon>
    <my-rectangle id="rectangle1" bounds="rectangle" options="{draggable: true}"></my-rectangle>
    <my-circle id="circle1" center="mapPos" radius="1000" options="{editable: true}"></my-circle>
</my-map>